<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お菓子詳細  | T&K</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

<body>
  <div th:replace="header"></div>

  <div>
    <div class="container pt-5">
      <div class="text-center">
        <h1>お菓子詳細</h1>
      </div>
      <div class="row py-5 bg-light">
        <div class="col">
          <img th:src="@{'/image/' + ${product.imagePath}}" alt="" style="width: 100%; height: 250px; object-fit: contain">
        </div>
        <div class="col pt-3">
          <h3 th:text="*{product.name}"></h3>
          <p class="pt-3" th:text="*{product.description}"></p>
          <span>
            価格：
          </span>
          <span class="pt-3 font-weight-bold" th:text="*{product.price + '円'}"></span>
          <div class="pt-3">
            <a th:href="@{/member/cart/add/{id} (id=${product.id})}" class="btn btn-custom2">カートに追加 <i class="fi-plus"></i></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
