<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
  </head>
    <title>管理者画面 | T&K</title>
  </head>
  <body>
    <div th:replace="admin/header :: admin-header"></div>
    <div class="container pt-5">
      <h1>管理者権限</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/admin/members">会員一覧画面</a>
        </li>
      </ul>
    </div>
    <div class="text-center pt-3">
        <form role="form" id="logout" th:action="@{/member/logout}" method="post">
        <button type="submit" class="btn btn-danger">ログアウト</button>
      </form>
    </div>
  </body>
</html>
