<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注文完了 | T&K</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <div th:replace="header"></div>
    <div class="container pt-5">
      <h3 class="py-3">ご注文完了</h3>
      <hr />
      <div class="pt-3">
        <p class="text-center">
          注文番号
          <b th:text="${orderId}"></b>
          番
        </p>
        <p class="text-center">ご注文が完了しました。</p>
        <p class="text-center">またのご利用をお待ちしています！</p>
        <p class="text-center">
          <a href="/" class="btn btn-custom2">トップに戻る</a>
        </p>
      </div>
    </div>
  </body>
</html>
