<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>お届け先入力フォーム | T&K</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
</head>

<body>
	<div th:replace="header"></div>
	<div class="container py-5">
		<div class="text-center">
			<h1>お届け先入力フォーム</h1>
		</div>
		<hr />
		<a href="/member/cart/list"><i class="fi-arrow-left"></i> 戻る</a>
		<div class="d-flex justify-content-center">
		<form action="/member/order/confirmation" th:object="${orderForm}" method="post">
			<div class="form-group">
						<label for="lastName">姓
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{fullName.lastName}')}" th:errors="*{fullName.lastName}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" th:field="*{fullName.lastName}">
			</div>

			<div class="form-group">
						<label for="firstName">名
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{fullName.firstName}')}" th:errors="*{fullName.firstName}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" th:field="*{fullName.firstName}">
			</div>

			<div class="form-group">
						<label for="phoneNumber">電話番号
							<span class="badge badge-danger">必須</span>
							<small>（ハイフンなしで数字のみ入力してください）</small>
							<br>
							<span th:if="${#fields.hasErrors('*{phoneNumber.value}')}" th:errors="*{phoneNumber.value}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" th:field="*{phoneNumber.value}">
			</div>

			<div class="form-group">
						<label for="postcode">郵便番号
							<span class="badge badge-danger">必須</span>
							<small>（ハイフンなしで数字のみ入力してください）</small>
							<br>
							<span th:if="${#fields.hasErrors('*{address.postcode.value}')}" th:errors="*{address.postcode.value}" class="col-sm-offset-2 text-danger"></span>
							<input type="text" class="form-control" th:field="*{address.postcode.value}">
						</label>
			</div>

			<div class="form-group">
						<label for="email">メールアドレス
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{email}')}" th:errors="*{email}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" size="40" th:field="*{email}">
			</div>

			<div class="form-group">
						<label for="prefecture">都道府県
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{address.prefecture.value}')}" th:errors="*{address.prefecture.value}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" size="40" th:field="*{address.prefecture.value}">
			</div>

			<div class="form-group">
						<label for="city">市区町村
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{address.city.value}')}" th:errors="*{address.city.value}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" size="40" th:field="*{address.city.value}">
			</div>

			<div class="form-group">
						<label for="block">番地
							<span class="badge badge-danger">必須</span>
							<br>
							<span th:if="${#fields.hasErrors('*{address.block.value}')}" th:errors="*{address.block.value}" class="col-sm-offset-2 text-danger"></span>
						</label>
						<input type="text" class="form-control" size="40" th:field="*{address.block.value}">
			</div>
			<input type="hidden" name="memberId.value" th:value="*{memberId.value}"></input>
			<div class="py-2 text-right">
				<button type="submit" class="btn btn-primary">確認画面へ進む  <i class="fi-arrow-right"></i></button>
			</form>
			</div>
		</form>
	</div>
</body>

</html>
