<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <title>会員新規登録 | T&K</title>
  </head>
  <body>
    <div th:replace="header"></div>
    <div class="container pt-5">
      <h3>会員登録</h3>
      <hr />
      <div class="d-flex justify-content-center">
        <div class="mt-5">
          <form
            th:method="post"
            th:action="@{/member/applicate}"
            th:object="${memberApplicationForm}"
          >
            <div class="form-group">
              <span
                th:if="${#fields.hasErrors('*{email}')}"
                th:errors="*{email}"
                class="col-sm-offset-2 text-danger"
              ></span>
              <label>メールアドレス</label>
              <input
                type="email"
                class="form-control"
                placeholder="email"
                th:field="*{email}"
              />
              <span class="text-danger" th:text="${errorMessage}">XXXXX</span>
            </div>

            <div class="form-group">
              <label>パスワード</label>
              <label
                th:if="${#fields.hasErrors('*{password}')}"
                th:errors="*{password}"
                class="col-sm-offset-2 text-danger"
              ></label>
              <input
                type="password"
                class="form-control"
                placeholder="password"
                th:field="*{password}"
              />
            </div>
            <button type="submit" class="btn btn-success">登録</button>
          </form>
        </div>
      </div>
    </div>
    <div th:replace="home"></div>
  </body>
</html>
