<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>カート内容 | T&K</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div th:replace="header"></div>
    <div class="container py-5">
      <div class="text-center">
        <h1>カート<i class="fi-shopping-cart"></i></h1>
      </div>
      <a href="/"><i class="fi-arrow-left"></i> 戻る</a>
      <h2 th:text="${errorMessage}">XXXXX</h2>
      <div th:if="${session?.CART?.size}">
        <table class="table table-striped table-light">
          <thead class="thead-light">
            <tr>
              <th>商品画像</th>
              <th>商品名</th>
              <th>単価</th>
              <th>個数</th>
              <th>削除</th>
            </tr>
          </thead>
          <tr th:each="item : ${cart.items}">
            <td>
              <img
                th:src="@{'/image/' + ${item.productImage}}"
                alt=""
                class="card-img-top"
                style="width: 200px; height: 200px; object-fit: contain"
              />
            </td>
            <td class="h5 pt-3" th:text="${item.productName}"></td>
            <td
              class="h5 pt-3"
              th:text="${'￥' + item.productPrice}"
            ></td>
            <td>
              <form
                th:action="@{/member/cart/changeQuantity/{id}(id=${item.productId})}"
                method="post"
              >
                <select
                  class="form-control"
                  name="quantity"
                  id="quantity"
                  onchange="this.form.submit()"
                  style="width: 80px"
                >
                  <option
                    th:each="i : ${#numbers.sequence(0, 20)}"
                    th:value="${i}"
                    th:text="${i}"
                    th:selected="${item.quantity.value == i}"
                  ></option>
                </select>
              </form>
            </td>
            <td>
              <a
                th:href="@{/member/cart/delete/{id}(id=${item.productId})}"
                class="btn btn-danger"
                >削除</a
              >
            </td>
          </tr>
        </table>
        <hr />
        <div class="d-flex justify-content-center pt-3">
          <h4>合計金額[[${cart.totalAmount}]]円</h4>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <a href="/member/order/form"
            ><span class="btn btn-primary"
              >注文フォームに進む <i class="fi-arrow-right"></i></span
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
