<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cart</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div th:replace="header"></div>
    <div class="container py-5">
      <a href="/"><i class="fi-arrow-left"></i> 戻る</a>
      <h2 th:text="${errorMessage}">XXXXX</h2>
      <div th:if="${session?.CART?.size}">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>画像</th>
              <th>商品名</th>
              <th>単価</th>
              <th>個数</th>
              <th>削除</th>
            </tr>
          </thead>
          <tr th:each="item : ${cart.items}">
            <td>
              <img
                th:src="@{'/image/' + ${item.ProductImage}}"
                alt=""
                class="card-img-top"
                style="width: 200px; height: 200px; object-fit: contain"
              />
            </td>
            <td th:text="${item.productName}"></td>
            <td th:text="${item.ProductPrice}"></td>
            <td th:text="${item.quantity}"></td>
            <td>
              <a
                th:href="@{/member/cart/delete/{id}(id=${item.productId})}"
                class="btn btn-danger"
                >削除</a
              >
            </td>
          </tr>
        </table>
        <hr />
        <div class="d-flex justify-content-center pt-3">
          <h4>合計金額:[[${cart.totalAmount}]]円</h4>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <a href="/member/order/form"
            ><span class="btn btn-dark">入力フォームに進む</span></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
