<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ログイン</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container justify-content-center mt-5">
    <h2 class="my-3 ">ログイン</h2>
    <hr>
    <div class="d-flex justify-content-center mt-5">
      <div th:if="${param.error}" class="alert alert-danger">
        パスワードが正しくありません
      </div>
      <form th:action="@{/admins/auth/login}" th:object="${admin}" method="POST">
        <div class="form-group">
          <label for="password">パスワード</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <input type="submit" class="btn btn-primary" value="ログイン" />
      </form>
    </div>
  </div>
</body>

</html> -->
