body {
  background-color: #feeabc !important;
}

.navbar-custom {
  /* background-color: #ef866b; */
  background-color: #fcaa00;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.btn-custom {
  background-color: #bcb5b5 !important;
  border-color: #bcb5b5 !important;
}

.btn-custom2 {
  background-color: #61c359 !important;
  border-color: #61c359 !important;
  color: #fff;
}
.btn-custom3 {
  background-color: #fcaa00 !important;
  border-color: #fcaa00 !important;
}
