<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div th:flagment="home" class="row">
      <div th:each="item: ${products}" class="text-center mx-auto">
        <div class="col">
          <div class="card mb-3 bg-light" style="width: 17rem">
            <img
              class="card-img-top pt-3 px-3"
              th:src="@{'/image/' + ${item.imagePath}}"
              alt="お菓子の画像"
              style="width: 100%; height: 220px; object-fit: contain"
            />
            <div class="card-body">
              <h5 class="card-title">
                <span th:text="${item.name}" class="font-weight-bold h5"></span>
                <span th:text="${'¥' + item.price + '円'}"></span>
              </h5>
              <hr />
              <div class="d-flex justify-content-around">
                <div>
                  <a
                    th:href="@{/product/detail/{id}(id=${item.id})}"
                    class="btn btn-custom3"
                    style="color: white"
                  >
                    <i class="fi-info"></i> 詳細</a
                  >
                </div>
                <div>
                  <a
                    th:href="@{/member/cart/add/{id}(id=${item.id})}"
                    class="btn btn-custom2"
                    style="color: white"
                  >
                    カートに追加
                    <i class="fi-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="text-center"
      th:if="${session?.MEMBER?.email != null || session?.ADMIN?.name != null}"
    >
      <form role="form" id="logout" th:action="@{/member/logout}" method="post">
        <button type="submit" class="btn btn-danger">ログアウト</button>
      </form>
    </div>
  </body>
</html>
