<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>

<body>

    <div th:replace="header"></div>
    <div th:replace="home"></div>
    <strong sec:authorize="!isAuthenticated()">未認証</strong>
    <strong sec:authorize="isAuthenticated()">認証済み</strong>
    <div sec:authorize="isAuthenticated()">
        <p th:text="${#authentication.principal.username}">username</span>
        <p th:text="${#authentication.principal.password}">pasword</span>
        <p th:text="${#authentication.principal.authorities}">authorities</span>
    </div>
    <p>
        <a href="/members/auth/login">会員用ログインページ</a>
    </p>
    <p>
        <a href="/admins/auth/login">管理者用ログインページ</a>
    </p>
    <!--
    <th:block th:if="${#session != null}">
    <li class="list-group-item">sessionId: <span th:text="${#session.id}"></span></li>
    <li class="list-group-item">lastAccessedTime: <span th:text="${#session.lastAccessedTime}"></span></li>
    <li class="list-group-item">maxInactiveInterval: <span th:text="${#session.maxInactiveInterval}"></span></li>
    </th:block> -->

</body>

</html>
