<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
    />
    <title>会員編集画面</title>
  </head>
  <body>
    <div th:replace="admin/header :: admin-header"></div>
    <div class="container py-5">
      <div>
        <h2>会員情報編集</h2>
        <hr />
      </div>
      <div class="pt-3">
        <form
          th:method="post"
          th:object="${memberEditForm}"
          th:action="@{/admin/members/{id}/edit(id=*{id})}"
        >
          <div class="form-group">
            <label>メールアドレス</label>
            <input
              type="email"
              class="form-control"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              th:field="*{email}"
            />
          </div>
          <div class="form-group">
            <label>承認状態</label>
            <select class="form-control" th:field="*{status}">
              <option th:value="unapproved" th:text="未承認"></option>
              <option th:value="approval" th:text="承認"></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">編集</button>
        </form>
      </div>
    </div>
    <div th:replace="home"></div>
  </body>
</html>
